<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testScripts.DropdownTest"/>
      <class name="testScripts.IframeTest"/>
      <class name="testScripts.ExplicitWaitTest"/>
      <class name="testScripts.CheckBox"/>
      <class name="testScripts.WebTableTest"/>
      <class name="testScripts.ShadowDOMTest"/>
      <class name="testScripts.DisplayTest"/>
      <class name="testScripts.GooglePageTest"/>
      <class name="testScripts.AlertTest"/>
      <class name="testScripts.JSTest"/>
      <class name="testScripts.DownLoadTest"/>
      <class name="testScripts.WindowsHandleTest"/>
      <class name="testScripts.UploadFileTest"/>
      <class name="testScripts.RadioButton"/>
      <class name="testScripts.BranchClass"/>
      <class name="testScripts.SearchProduct"/>
      <class name="testScripts.AutoCompleteTest"/>
      <class name="testScripts.MouseActionTest"/>
      <class name="testScripts.PageLoadTimeOutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
